@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Proza+Libre|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap');

*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}

.header-section{
    text-align: center;
    color: rgb(255, 255, 255);      
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    background:#187795;
    background:-webkit-linear-gradient(45deg,#45b2cdda,#187795);   
}
.header-img{
    text-align: end;
}
.main-nav{
    text-align: center;
    background:  #1a444e80;
    background: -webkit-linear-gradient(45deg,#1a444e80,#1a444e9d);
    font-size: 1em;
    padding: .7em;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Proza Libre', sans-serif;
}
.nav ul{
    margin: 0;
}
.nav li{
    display: inline-block;
}
.nav a{
    display: inline;
    padding: .1em;
    margin-right: 2em;
    margin-left: 2em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
    

}


.nav a:hover{
    background-color: rgba(255, 255, 255, 0.199);
}
.main-body{
    background-color: rgba(255, 255, 255, 0.445);
}
.main-para{
    margin: 3em;
    display: flexbox;
    font-size: 1.6em;
    color: #666;
    font-family: 'Encode Sans Expanded', sans-serif;
    line-height: 1.7em;
    font-size: 26px;
}
.link {
    color: #BD2031; 
    text-decoration: none;
  }
.link:hover{
text-decoration: underline;
color: rgba(192, 83, 94, 0.562); 
}

.link:active{
    color: rgb(190, 87, 97);
    background-color: transparent;
    text-decoration: underline;
}

.picture{
    display: flex;
    border-radius: 50%;
    float: right;
    margin-right: 10em;
    margin-top: 2em;
    margin-left: 10em;
    background:-webkit-linear-gradient(45deg,#74ffbebe,hsla(192, 89%, 72%, 0.856));     
    shape-outside: circle();
    padding-top: 10px;
}
.footer{
    background:  #1a444e80;
    padding: 1.3em;
    background: -webkit-linear-gradient(45deg,#34484d80,#3a4c509d);
}
.social{
    margin-right: .3em;
}